<div class="bg-preto section-four">
  <div>
    <h3>+15 anos no mercado</h3>
    <p>Com mais de uma década de dedicação, temos desempenhado um trabalho exemplar, mantendo a confiança sólida dos
      nossos clientes.</p>
  </div>
  <div>
    <div class="nota-google">
      <h3>4,9</h3>
      <i><img src="../../../assets/etc/estrela.svg" alt="estrela"></i>
      <i><img src="../../../assets/etc/estrela.svg" alt="estrela"></i>
      <i><img src="../../../assets/etc/estrela.svg" alt="estrela"></i>
      <i><img src="../../../assets/etc/estrela.svg" alt="estrela"></i>
      <i><img src="../../../assets/etc/estrela.svg" alt="estrela"></i>
    </div>
    <p>Ao desempenhar um excelente trabalho, conseguimos conquistar a satisfação dos nossos clientes com os nossos
      serviços.</p>
  </div>
</div>
