<footer class="bg-preto">
  <div class="media">
<!--    <img ngSrc="../../../assets/etc/FacebookLogo-bw.svg" alt="printer" height="51" width="51">-->
    <img (click)="openExternalLink('instagram')" ngSrc="../../../assets/etc/InstagramLogo-bw.svg" alt="printer" height="51" width="51">
    <img (click)="openExternalLink('whatsapp')" ngSrc="../../../assets/etc/WhatsappLogo-bw.svg" alt="printer" height="51" width="51">
  </div>
  <span>2023 • Felisberto Despachante • Todos os direitos reservados</span>
</footer>
