/*  Section One */

.section-one {
  justify-content: center;
  align-items: center;

  div {
    width: 50%;
  }

  h2 {
    font-weight: 700;
  }

  img {
    width: 35%;
    margin-right: 5%;
    margin-left: 15%;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 24px;
      width: 24px;
      margin-right: 2px;
      margin-left: 0;
      padding-bottom: 4px;
    }
  }
}
