/*  Section One */

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
  .section-one {
    h2{
      font-size: 1.125rem;
      font-weight: 500;
    }
    > img{
      display: none;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: end;
      img {
        height: 24px;
        width: 24px;
        margin-right: 2px;
        margin-left: 0;
        padding-bottom: 2px;
      }
    }
    > div{
      display: flex;
      flex-direction: column;
    }
  }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */
  .section-one {
    justify-content: center;
    align-items: center;

    > img{
      display: block;
    }
    div {
      width: 50%;
    }
    button{
      align-self: start;
    }
    h2 {
      font-size: 2rem;
      font-weight: 700;
    }

    img {
      width: 45%;
      height: auto;
      margin-right: 2%;
      margin-left: 10%;
    }
  }
}
