<div class="bg-branco section-two" id="licenciamento">
  <table>
    <tr class="tab-row-titulo">
      <th></th>
      <th colspan="5">PARCELAMENTO</th>
      <th colspan="3">PAGAMENTO EM COTA ÚNICA</th>
    </tr>
    <tr class="tab-row-subtitulo">
      <td>FINAL</td>
      <td>1º COTA</td>
      <td>2º COTA</td>
      <td>3º COTA</td>
      <td>4º COTA</td>
      <td>5º COTA</td>
      <td>Com desconto de 20%</td>
      <td>Com desconto de 10%</td>
      <td>Sem desconto</td>
    </tr>
    <tr>
      <td>1</td>
      <td>{{final1[0]}}</td>
      <td>{{final1[1]}}</td>
      <td>{{final1[2]}}</td>
      <td>{{final1[3]}}</td>
      <td>{{final1[4]}}</td>
      <td>{{final1[5]}}</td>
      <td>{{final1[6]}}</td>
      <td>{{final1[7]}}</td>
    </tr>
    <tr>
      <td>2</td>
      <td>{{final2[0]}}</td>
      <td>{{final2[1]}}</td>
      <td>{{final2[2]}}</td>
      <td>{{final2[3]}}</td>
      <td>{{final2[4]}}</td>
      <td>{{final2[5]}}</td>
      <td>{{final2[6]}}</td>
      <td>{{final2[7]}}</td>
    </tr>
    <tr>
      <td>3</td>
      <td>{{final3[0]}}</td>
      <td>{{final3[1]}}</td>
      <td>{{final3[2]}}</td>
      <td>{{final3[3]}}</td>
      <td>{{final3[4]}}</td>
      <td>{{final3[5]}}</td>
      <td>{{final3[6]}}</td>
      <td>{{final3[7]}}</td>
    </tr>
    <tr>
      <td>4</td>
      <td>{{final4[0]}}</td>
      <td>{{final4[1]}}</td>
      <td>{{final4[2]}}</td>
      <td>{{final4[3]}}</td>
      <td>{{final4[4]}}</td>
      <td>{{final4[5]}}</td>
      <td>{{final4[6]}}</td>
      <td>{{final4[7]}}</td>
    </tr>
    <tr>
      <td>5</td>
      <td>{{final5[0]}}</td>
      <td>{{final5[1]}}</td>
      <td>{{final5[2]}}</td>
      <td>{{final5[3]}}</td>
      <td>{{final5[4]}}</td>
      <td>{{final5[5]}}</td>
      <td>{{final5[6]}}</td>
      <td>{{final5[7]}}</td>
    </tr>
    <tr>
      <td>6</td>
      <td>{{final6[0]}}</td>
      <td>{{final6[1]}}</td>
      <td>{{final6[2]}}</td>
      <td>{{final6[3]}}</td>
      <td>{{final6[4]}}</td>
      <td>{{final6[5]}}</td>
      <td>{{final6[6]}}</td>
      <td>{{final6[7]}}</td>
    </tr>
    <tr>
      <td>7</td>
      <td>{{final7[0]}}</td>
      <td>{{final7[1]}}</td>
      <td>{{final7[2]}}</td>
      <td>{{final7[3]}}</td>
      <td>{{final7[4]}}</td>
      <td>{{final7[5]}}</td>
      <td>{{final7[6]}}</td>
      <td>{{final7[7]}}</td>
    </tr>
    <tr>
      <td>8</td>
      <td>{{final8[0]}}</td>
      <td>{{final8[1]}}</td>
      <td>{{final8[2]}}</td>
      <td>{{final8[3]}}</td>
      <td>{{final8[4]}}</td>
      <td>{{final8[5]}}</td>
      <td>{{final8[6]}}</td>
      <td>{{final8[7]}}</td>
    </tr>
    <tr>
      <td>9</td>
      <td>{{final9[0]}}</td>
      <td>{{final9[1]}}</td>
      <td>{{final9[2]}}</td>
      <td>{{final9[3]}}</td>
      <td>{{final9[4]}}</td>
      <td>{{final9[5]}}</td>
      <td>{{final9[6]}}</td>
      <td>{{final9[7]}}</td>
    </tr>
    <tr>
      <td>0</td>
      <td>{{final0[0]}}</td>
      <td>{{final0[1]}}</td>
      <td>{{final0[2]}}</td>
      <td>{{final0[3]}}</td>
      <td>{{final0[4]}}</td>
      <td>{{final0[5]}}</td>
      <td>{{final0[6]}}</td>
      <td>{{final0[7]}}</td>
    </tr>
  </table>
  <div>
    <h2>CALENDÁRIO DE <br>LICENCIAMENTO</h2>
    <h3 class="cor-auxiliar">2 0 2 4</h3>
  </div>
</div>
