@import "../../styles";

.secondary-div {
  background-color: $branco-claro;
  display: flex;
  flex-direction: column;
  padding: 10vh 5vw 10px;

  h2 {
    font-weight: 500;
  }

  h3 {
    font-size: 1.376rem;
    font-weight: 500;
    margin-top: 45px;
  }

  span {
    font-size: 1rem;
    font-weight: 400;
  }
}

.container {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }

  li::before {
    content: '';
    display: inline-block;
    background-size: contain;
    margin-right: 10px; /* Adjust the margin between the list marker and the list item content as needed */
  }

  &.documentos {
    li {
      display: flex;
      align-items: center;
    }

    li::before {
      width: 24px;
      height: 24px;
      background-image: url('/assets/arquivos/Folder.svg');
    }

    li {
      > div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .download-icon {
          content: '';
          display: inline-block;
          width: 24px;
          height: 24px;
          background-image: url('/assets/arquivos/DownloadSimple.svg');
          margin-left: 5px;
        }
      }

      .download-options {
        display: flex;

        > a {
          text-decoration: none;
          color: $preto-letras;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid black;
          border-radius: 25px;
          width: 90px;
          margin-left: 15px;
          cursor: pointer;
        }
      }
    }
  }

  &.links {

    > ul {
      > li {
        a {
          width: 100%;
          text-decoration: none;
          color: $preto-letras;

          span {
            position: relative;

            &::before,
            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              height: 2px;
              width: 0;
              background-color: black;
              transition: width 0.5s ease;
            }

            &::before {
              left: 50%;
              transform-origin: left;
            }

            &::after {
              right: 50%;
              transform-origin: right;
            }
          }

          &:hover {
            span {
              &::before,
              &::after {
                width: 50%;
              }
            }
          }
        }
      }
    }

    li::before {
      width: 24px;
      height: 23px;
      background-image: url('/assets/arquivos/LinkSimple.svg');
    }

    ul:last-child {
      padding-bottom: 20vh;
    }
  }

}


