<div class="secondary-div">
  <h2>ARQUIVOS</h2>

  <div class="container documentos">
    <h3>Documentos</h3><hr>
    <ul>
      <li><div><span>Procuração</span>
        <div class="download-options">
            <a [routerLink]="'/documentos/Procuracao_CRDDBA_PF.pdf'" target="_blank">
              <span>.pdf</span><a class="download-icon"></a>
            </a>
        </div>
      </div></li>
      <hr>
      <li><div><span>Declaração de domicílio/residência</span>
        <div class="download-options">
          <a [routerLink]="'/documentos/DECLARACAO DE DOMICILIO.docx'" target="_blank">
            <span>.docx</span><a class="download-icon"></a>
          </a>
          <a [routerLink]="'/documentos/DECLARACAO DE DOMICILIO.pdf'" target="_blank">
            <span>.pdf</span><a class="download-icon"></a>
          </a>
        </div>
      </div></li>
      <hr>
      <li><div><span>Requerimento único</span>
        <div class="download-options">
          <a [routerLink]="'/documentos/REQUERIMENTO UNICO.docx'" target="_blank">
            <span>.docx</span><a class="download-icon"></a>
          </a>
          <a [routerLink]="'/documentos/REQUERIMENTO UNICO.pdf'" target="_blank">
            <span>.pdf</span><a class="download-icon"></a>
          </a>
        </div>
      </div></li>
      <hr>
    </ul>
  </div>
  <div class="container links">
    <h3>Links</h3><hr>
    <ul>
      <li><a href="https://www.detran.ba.gov.br/" target="_blank"><span>DETRAN BA</span></a></li><hr>
      <li><a href="https://www.gov.br/receitafederal/pt-br/servicos" target="_blank"><span>Receita Federal</span></a></li><hr>
      <li><a href="https://www.sefaz.ba.gov.br/" target="_blank"><span>Secretaria da Fazenda BA</span></a></li><hr>
      <li><a href="https://centralsol.com.br/Ssdr/" target="_blank"><span>Central SOL</span></a></li><hr>
      <li><a href="https://servicos.receita.fazenda.gov.br/Servicos/CPF/ConsultaSituacao/ConsultaPublica.asp" target="_blank"><span>Consultar CPF</span></a></li><hr>
      <li><a href="https://servicos.neoenergiacoelba.com.br/Pages/todos-os-servicos.aspx" target="_blank"><span>COELBA</span></a></li><hr>
      <li><a href="https://www.embasa.ba.gov.br/centralservicos/" target="_blank"><span>EMBASA</span></a></li><hr>
    </ul>
  </div>
</div>
