<div class="secondary-div">
  <h2>ARQUIVOS</h2>

  <div class="container documentos">
    <h3>Documentos</h3><hr>
    <ul>
      <li><div><span>Procuração (pessoa física)</span><a></a></div></li><hr>
      <li><div><span>Procuração (pessoa juridica)</span><a></a></div></li><hr>
      <li><div><span>Declaração de domicilio/residencia</span><a></a></div></li><hr>
      <li><div><span>Requerimento único</span><a></a></div></li><hr>
    </ul>
  </div>
  <div class="container links">
    <h3>Links</h3><hr>
    <ul>
      <li><span>DETRAN BA</span></li><hr>
      <li><span>Receita Federal</span></li><hr>
      <li><span>Secretaria da Fazenda</span></li><hr>
      <li><span>Central SOL</span></li><hr>
      <li><span>Consultar CPF</span></li><hr>
      <li><span>COELBA</span></li><hr>
      <li><span>EMBASA</span></li><hr>
    </ul>
  </div>
</div>
