/*  Section Three */

.section-sobre-nos {
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;

  h2 {
    text-align: center;
    font-weight: 600;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > img {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    p {
      width: 40vw;
      font-size: 1rem;
    }

    > p {
      text-align: end;
    }

    > div {
      > p {
        margin-bottom: 1.4rem;
      }

      > button {
        margin-bottom: 25px;
      }
    }
  }


  button {
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
      height: 24px;
      width: 24px;
      margin-right: 2px;
      margin-left: 0;
      padding-bottom: 2px;
    }
  }
}

@media (min-width: 320px) { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width: 481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) { /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) { /* hi-res laptops and desktops */ }
