<div class="header-div row" style="margin-top: 20px;">
  <div class="col-md-12">
    <header>
      <h3 style="text-align: center">Felisberto Despachante (IMAGEM)</h3>
    </header>
  </div>
</div>
<div class="main-div row row-cols-6">
  <aside class="col-2">
    <nav>
      <ul>
        <li>
          <a routerLink="/">Início</a></li>
        <li>
          <a routerLink="/servicos">Serviços</a></li>
        <li>
          <a routerLink="/contatos">Contatos</a></li>
        <li>
          <a routerLink="/formularios">Formulários</a></li>
        <li>
          <a routerLink="/links">Links</a></li>
        <li>
          <a routerLink="/sobre-nos">Sobre nós</a></li>
      </ul>
    </nav>
    <div class="quick-info-div">
      <h3>Ligue já</h3>
      <address>
        <strong>Barreiras - BA</strong>
        Fixo: (77) 3612-5916 <br>
        Móvel: (77) 9 9900-2662
      </address>
      <address>
        <strong>Luís Eduardo Magalhães - BA</strong>
        Fixo: (77) 3628-0132 <br>
        Vivo: (77) 9 9900-2662 <br>
        Outro: (77) 9 9800-9877
      </address>
    </div>
  </aside>
  <router-outlet></router-outlet>
</div>
