<div class="bg-branco section-servicos">
  <h3>NOSSOS SERVIÇOS</h3>
  <div class="servicos-table">
    <div class="servicos-col">
      <i><img ngSrc="../../../assets/servicos/Basket.svg" alt="printer" height="52" width="52"><span>Comunicado de Venda</span></i>
      <i><img ngSrc="../../../assets/servicos/Scales.svg" alt="car-simple" height="52" width="52"><span>Licenças Estaduais</span></i>
      <i><img ngSrc="../../../assets/servicos/BookOpen.svg" alt="printer" height="52" width="52"><span>Emissão de CRLV</span></i>
      <i><img ngSrc="../../../assets/servicos/House.svg" alt="car-simple" height="52" width="52"><span>IPTU</span></i>
      <i><img ngSrc="../../../assets/servicos/AlignBottom.svg" alt="printer" height="52" width="52"><span>ITU</span></i>
    </div>
    <div class="servicos-col">
      <i><img ngSrc="../../../assets/servicos/printer.svg" alt="printer" height="52" width="52"><span>Impressão de Licenciamento</span></i>
      <i><img ngSrc="../../../assets/servicos/car-simple.svg" alt="car-simple" height="52" width="52"><span>Primeiro Emplacamento</span></i>
      <i><img ngSrc="../../../assets/servicos/FileDoc.svg" alt="printer" height="52" width="52"><span>Segunda via de CRV</span></i>
      <i><img ngSrc="../../../assets/servicos/Files.svg" alt="car-simple" height="52" width="52"><span>IPVA e Vistoria</span></i>
      <i><img ngSrc="../../../assets/servicos/ArrowsLeftRight.svg" alt="printer" height="52" width="52"><span>Transferência</span></i>
    </div>
    <div class="servicos-col">
      <i><img ngSrc="../../../assets/servicos/CarProfile.svg" alt="printer" height="52" width="52"><span>Habilitação</span></i>
      <i><img ngSrc="../../../assets/servicos/MagnifyingGlass.svg" alt="car-simple" height="52" width="52"><span>Procuração</span></i>
      <i><img ngSrc="../../../assets/servicos/Barcode.svg" alt="car-simple" height="52" width="52"><span>ANTT</span></i>
      <i><img ngSrc="../../../assets/servicos/IdentificationCard.svg" alt="printer" height="52" width="52"><span>Escritura</span></i>
    </div>
  </div>
</div>
