<div class="bg-branco section-three">
  <h2>SOBRE NÓS</h2>
  <div>
    <img src="../../../assets/img/grupo-de-pessoas-trabalhando-no-plano-de-negocios-em-um-escritorio.jpg" alt="foto">
    <p>A equipe do Felisberto Despachante é composta por profissionais altamente qualificados e comprometidos em
      oferecer o melhor serviço aos seus clientes. Com um atendimento personalizado e ágil, os funcionários da empresa
      se destacam pela responsabilidade, seriedade e profissionalismo em todas as etapas dos processos.</p>
  </div>
  <div>
    <div>
      <p>Além disso, nossa equipe é constantemente treinada e atualizada sobre as mudanças nas legislações e nos
        procedimentos dos órgãos públicos, garantindo assim a eficiência e a qualidade dos serviços prestados.</p>
      <button (click)="openWhatsapp()" class="btn-vermelho"><img ngSrc="assets/etc/WhatsappLogo.svg" height="24" width="24" alt="Whatsapp logo">Entre em contato</button>
    </div>
    <img src="../../../assets/img/mulher-desfrutando-de-sua-independencia-financeira-ao-comprar-carro.jpg" alt="foto">
  </div>
</div>
