/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  font-family: 'roboto', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.bg-branco{
  display: flex;
  padding: 100px 65px;
  background-color: white;
  color: #242424;
}

.bg-preto{
  display: flex;
  padding: 75px 65px;
  background-color: #242424;
  color: white;
}

.bg-preto h2{
  font-size: 32px;
}

.cor-auxiliar{
  color: #FDA500;
}

.btn-amarelo{
  background-color: #FDA500;
  color: #242424;
}
