/* You can add global styles to this file, and also import other style files */
$branco-claro: #FAFAFA;
$preto-claro: #242424;

$branco-letras: #FFFFFF;
$preto-letras: #171717;
$vermelho-letras: #DE353B;

$vermelho-button: #DE353B;

*{
  padding: 0;
  margin: 0;
  font-family: 'roboto', sans-serif;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .bg-branco{
    display: flex;
    padding: 100px 65px;
    background-color: $branco-claro;
    color: $preto-letras;
  }

  .bg-preto{
    display: flex;
    padding: 30px 5%;
    background-color: $preto-claro;
    color: $branco-letras;
    h2{
      font-size: 32px;
    }
  }

  .cor-auxiliar{
    color: $vermelho-letras;
  }

  .btn-vermelho{
    background-color: $vermelho-button;
    color: $branco-letras;
    border-radius: 50px;
    width: calc(176px * 0.75);
    height: calc(47px * 0.75);
    border: none;
    font-size: 0.75rem;
    font-weight: 500;
    cursor: pointer;
  }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */
  .bg-preto{
    padding: 75px 5%;
  }

  .btn-vermelho{
    width: 176px;
    height: 47px;
    font-size: 16px;
    cursor: pointer;
  }
}

