/*  Section One */

.section-one {
  justify-content: space-between;
  align-items: center;
}

.section-one div {
  width: 50%;
}

.section-one h2 {
  font-weight: 700;
}

.section-one img {
  width: 35%;
  margin-right: 35px;
}

/*  Section Two */

/*  Tabela  */

.section-two table {
  font-size: 0.8em;
  /*width: 60%;*/
  border-collapse: collapse;
}

.section-two table {
  text-align: center;
  color: black;
  box-sizing: border-box;
}

.section-two th {
  border: 1px solid;
}

.section-two table th {
  height: 40px;
  background-color: #8D8686;
  font-size: 16px;
  font-weight: 500;
}

.section-two table td {
  height: 25px;
  background-color: #D9D9D9;
  font-size: 12px;
  font-weight: 400;
}

.tab-row-subtitulo {
  height: 40px;
}

.tab-row-subtitulo td {
  border: 1px solid;
  background-color: #B0B0B0;
}

.tab-row-subtitulo td:nth-child(n+2):nth-child(-n+6) {
  width: 80px;
}

.tab-row-subtitulo td:nth-child(n+7):nth-child(-n+9) {
  padding: 0 5px;
  width: 90px;
}

.section-two .tab-row-titulo th:first-child {
  width: 55px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.section-two table tr:nth-child(odd) td {
  background-color: #FAFAFA;
}

.section-two table td {
  border-right: solid 1px black;
  border-left: solid 1px black;
}

.section-two table tr:last-child {
  border-bottom: solid 1px black;
}

/*  Texto Lateral*/

.section-two > div {
  padding-left: 3vw;
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 100%;
  align-items: start;
  font-weight: 700;
}

.section-two > div h3 {
  font-size: 116px;
}

/*  Section Three */

.section-three {
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
}

.section-three h2 {
  text-align: center;
  font-weight: 600;
}

.section-three > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-three > div img {
  width: 41vw;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-three > div:last-child img {
  width: 41vw;
  padding-bottom: 100px;
}

.section-three > div p {
  width: 40vw;
  font-size: 1.5rem;
}

.section-three > div > p {
  text-align: end;
}

.section-three > div > div > p {
  margin-bottom: 1.4rem;
}

.section-three > div > div > button {
  margin-bottom: 25px;
}

/*  Section Four  */

.section-four {
  justify-content: space-around;
}

.section-four h3 {
  font-size: 2rem;
  text-align: center;
  padding: 0.75rem;
  margin-bottom: 0;
}

.section-four > div {
  width: 30vw;
  margin: 0 8vw;
}

.section-four p {
  margin-top: .5rem;
  text-align: center;
}

.nota-google {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nota-google i {
  margin-bottom: 0.125rem;
  margin-right: 0.375rem;
}

.nota-google i:last-child {
  margin-right: 1rem;
}

.nota-google img {
  height: 1.5rem;
}

/*  Section Five  */

.section-five {
  flex-direction: column;
  align-items: center;
  color: #171717;
  padding: 100px 40px;
}

.section-five h3{
  font-size: 2rem;
  font-weight: 600;
}

.section-five i img{
  height: 70px;
  margin: 12px;
}

.servicos-table {
  display: flex;
  width: 90%;
}

.servicos-table i{
  font-style: normal;
  font-size: 1.25rem;
}

.servicos-row{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100%/3);
}


