<div class="bg-preto section-one">
  <div>
    <h2>Transformamos a burocracia em <br>eficiência, e os problemas dos nossos <br>clientes em soluções simplificadas.
    </h2>
    <button class="btn-amarelo">Entrar em contato</button>
  </div>

  <img src="assets/Beep%20Beep%20Medium%20Vehicle.png" alt="Imagem de Carro">
</div>

<div class="bg-branco section-two">
  <table>
    <tr class="tab-row-titulo">
      <th></th>
      <th colspan="5">PARCELAMENTO</th>
      <th colspan="3">PAGAMENTO EM COTA ÚNICA</th>
    </tr>
    <tr class="tab-row-subtitulo">
      <td>FINAL</td>
      <td>1º COTA</td>
      <td>2º COTA</td>
      <td>3º COTA</td>
      <td>4º COTA</td>
      <td>5º COTA</td>
      <td>Com desconto de 20%</td>
      <td>Com desconto de 10%</td>
      <td>Sem desconto</td>
    </tr>
    <tr>
      <td>1</td>
      <td>30/03/2023</td>
      <td>20/04/2023</td>
      <td>30/05/2023</td>
      <td>29/06/2023</td>
      <td>28/07/2023</td>
      <td>10/02/2023</td>
      <td>30/03/2023</td>
      <td>28/07/2023</td>
    </tr>
    <tr>
      <td>2</td>
      <td>31/03/2023</td>
      <td>28/04/2023</td>
      <td>31/05/2023</td>
      <td>30/06/2023</td>
      <td>31/07/2023</td>
      <td>10/02/2023</td>
      <td>31/03/2023</td>
      <td>31/07/2023</td>
    </tr>
    <tr>
      <td>3</td>
      <td>27/04/2023</td>
      <td>29/05/2023</td>
      <td>29/06/2023</td>
      <td>28/07/2023</td>
      <td>30/08/2023</td>
      <td>10/02/2023</td>
      <td>27/04/2023</td>
      <td>30/08/2023</td>
    </tr>
    <tr>
      <td>4</td>
      <td>28/04/2023</td>
      <td>31/05/2023</td>
      <td>30/06/2023</td>
      <td>31/07/2023</td>
      <td>31/08/2023</td>
      <td>10/02/2023</td>
      <td>28/04/2023</td>
      <td>31/08/2023</td>
    </tr>
    <tr>
      <td>5</td>
      <td>30/05/2023</td>
      <td>29/06/2023</td>
      <td>28/07/2023</td>
      <td>30/08/2023</td>
      <td>28/09/2023</td>
      <td>10/02/2023</td>
      <td>30/05/2023</td>
      <td>28/09/2023</td>
    </tr>
    <tr>
      <td>6</td>
      <td>31/05/2023</td>
      <td>30/06/2023</td>
      <td>31/07/2023</td>
      <td>31/08/2023</td>
      <td>29/09/2023</td>
      <td>10/02/2023</td>
      <td>31/05/2023</td>
      <td>29/09/2023</td>
    </tr>
    <tr>
      <td>7</td>
      <td>29/06/2023</td>
      <td>27/07/2023</td>
      <td>30/08/2023</td>
      <td>28/09/2023</td>
      <td>30/10/2023</td>
      <td>10/02/2023</td>
      <td>29/06/2023</td>
      <td>30/10/2023</td>
    </tr>
    <tr>
      <td>8</td>
      <td>30/06/2023</td>
      <td>28/07/2023</td>
      <td>31/08/2023</td>
      <td>29/09/2023</td>
      <td>31/10/2023</td>
      <td>10/02/2023</td>
      <td>30/06/2023</td>
      <td>31/10/2023</td>
    </tr>
    <tr>
      <td>9</td>
      <td>27/07/2023</td>
      <td>21/08/2023</td>
      <td>39/09/2023</td>
      <td>21/10/2023</td>
      <td>30/11/2023</td>
      <td>10/02/2023</td>
      <td>38/07/2023</td>
      <td>30/11/2023</td>
    </tr>
    <tr>
      <td>0</td>
      <td>28/07/2023</td>
      <td>21/08/2023</td>
      <td>39/09/2023</td>
      <td>21/10/2023</td>
      <td>30/11/2023</td>
      <td>10/02/2023</td>
      <td>38/07/2023</td>
      <td>30/11/2023</td>
    </tr>
  </table>
  <div>
    <h2>CALENDÁRIO DE <br>LICENCIAMENTO</h2>
    <h3 class="cor-auxiliar">2 0 2 3</h3>
  </div>
</div>

<div class="bg-branco section-three">
  <h2>SOBRE NÓS</h2>
  <div>
    <img src="assets/not-found.png" alt="foto">
    <p>A equipe do Felisberto Despachante é composta por profissionais altamente qualificados e comprometidos em
      oferecer o melhor serviço aos seus clientes. Com um atendimento personalizado e ágil, os funcionários da empresa
      se destacam pela responsabilidade, seriedade e profissionalismo em todas as etapas dos processos.</p>
  </div>
  <div>
    <div>
      <p>Além disso, nossa equipe é constantemente treinada e atualizada sobre as mudanças nas legislações e nos
        procedimentos dos órgãos públicos, garantindo assim a eficiência e a qualidade dos serviços prestados.</p>
      <button class="btn-amarelo">Entre em contato</button>
    </div>
    <img src="assets/not-found.png" alt="foto">
  </div>
</div>

<div class="bg-preto section-four">
  <div>
    <h3>+15 anos no mercado</h3>
    <p>Com mais de uma década de dedicação, temos desempenhado um trabalho exemplar, mantendo a confiança sólida dos
      nossos clientes.</p>
  </div>
  <div>
    <div class="nota-google">
      <h3>4,9</h3>
      <i><img src="assets/estrela.svg" alt="estrela"></i>
      <i><img src="assets/estrela.svg" alt="estrela"></i>
      <i><img src="assets/estrela.svg" alt="estrela"></i>
      <i><img src="assets/estrela.svg" alt="estrela"></i>
      <i><img src="assets/estrela-cortada.svg" alt="estrela"></i>
    </div>
    <p>Ao desempenhar um excelente trabalho, conseguimos conquistar a satisfação dos nossos clientes com os nossos
      serviços.</p>
  </div>
</div>
<div class="bg-branco section-five">
  <h3>NOSSOS SERVIÇOS</h3>
  <div class="servicos-table">
    <div class="servicos-row">
      <i><img src="assets/printer.svg" alt="printer"><span>Impressão de Licenciamento</span></i>
      <i><img src="assets/car-simple.svg" alt="car-simple"><span>Primeiro emplacamento</span></i>
    </div>
    <div class="servicos-row">
      <i><img src="assets/printer.svg" alt="printer"><span>Impressão de Licenciamento</span></i>
      <i><img src="assets/car-simple.svg" alt="car-simple"><span>Primeiro emplacamento</span></i>
    </div>
    <div class="servicos-row">
      <i><img src="assets/printer.svg" alt="printer"><span>Impressão de Licenciamento</span></i>
      <i><img src="assets/car-simple.svg" alt="car-simple"><span>Primeiro emplacamento</span></i>
    </div>
  </div>
</div>
